html {
  font-family: Open-Sans, serif;
  font-family: "Questrial", sans-serif;
}

header {
  background-color: #c14a17;
}

h1 {
  font-family: "Lobster", cursive;
  color: white;
}

header nav li a {
  text-decoration: none;
  color: #fff;
  margin-right: 0;
  text-align: center;
  transition: all 500ms ease;
}

header nav li a:hover {
  color: #dbd3c0;
  transition: all 500ms ease;
}

footer {
  background-color: #ddd8d0;
}

.adopt-button {
  background-color: #ddd;
}

#banner-content {
  background-color: #ddd;
}
